[submodule "submodules/256-grayvim"]
	path = submodules/256-grayvim
	url = https://github.com/vim-scripts/256-grayvim.git
[submodule "submodules/256-jungle"]
	path = submodules/256-jungle
	url = https://github.com/vim-scripts/256-jungle.git
[submodule "submodules/beauty256"]
	path = submodules/beauty256
	url = https://github.com/vim-scripts/beauty256.git
[submodule "submodules/blacklight"]
	path = submodules/blacklight
	url = https://github.com/vim-scripts/blacklight.git
[submodule "submodules/calmar256-lightdark"]
	path = submodules/calmar256-lightdark
	url = https://github.com/vim-scripts/calmar256-lightdark.vim.git
[submodule "submodules/desert256"]
	path = submodules/desert256
	url = https://github.com/vim-scripts/desert256.vim.git
[submodule "submodules/donbass.vim"]
	path = submodules/donbass.vim
	url = https://github.com/vim-scripts/donbass.vim.git
[submodule "submodules/The-Vim-Gardener"]
	path = submodules/The-Vim-Gardener
	url = https://github.com/vim-scripts/The-Vim-Gardener.git
[submodule "submodules/icansee.vim"]
	path = submodules/icansee.vim
	url = https://github.com/vim-scripts/icansee.vim.git
[submodule "submodules/inkpot"]
	path = submodules/inkpot
	url = https://github.com/vim-scripts/inkpot.git
[submodule "submodules/jellybeans.vim"]
	path = submodules/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "submodules/vim-hybrid"]
	path = submodules/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "submodules/vividchalk"]
	path = submodules/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "submodules/Zenburn"]
	path = submodules/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "submodules/khaki.vim"]
	path = submodules/khaki.vim
	url = https://github.com/vim-scripts/khaki.vim.git
[submodule "submodules/lettuce.vim"]
	path = submodules/lettuce.vim
	url = https://github.com/vim-scripts/lettuce.vim
[submodule "submodules/Liquid-Carbon"]
	path = submodules/Liquid-Carbon
	url = https://github.com/vim-scripts/Liquid-Carbon.git
[submodule "submodules/leo256"]
	path = submodules/leo256
	url = https://github.com/vim-scripts/leo256.git
[submodule "submodules/lodestone"]
	path = submodules/lodestone
	url = https://github.com/lodestone/lodestone.vim.git
[submodule "submodules/Lucius"]
	path = submodules/Lucius
	url = https://github.com/vim-scripts/Lucius.git
[submodule "submodules/lilypink"]
	path = submodules/lilypink
	url = https://github.com/vim-scripts/lilypink.git
[submodule "submodules/pink"]
	path = submodules/pink
	url = https://github.com/vim-scripts/pink.git
[submodule "submodules/peaksea"]
	path = submodules/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "submodules/mrkn256.vim"]
	path = submodules/mrkn256.vim
	url = https://github.com/mrkn/mrkn256.vim.git
[submodule "submodules/molokai"]
	path = submodules/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "submodules/miko"]
	path = submodules/miko
	url = https://github.com/vim-scripts/miko.git
[submodule "submodules/southernlights"]
	path = submodules/southernlights
	url = https://github.com/vim-scripts/southernlights.git
[submodule "submodules/rdark-terminal"]
	path = submodules/rdark-terminal
	url = https://github.com/vim-scripts/rdark-terminal.git
[submodule "submodules/vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "submodules/strange"]
	path = submodules/strange
	url = https://github.com/vim-scripts/strange.git
[submodule "submodules/summerfruit256.vim"]
	path = submodules/summerfruit256.vim
	url = https://github.com/vim-scripts/summerfruit256.vim.git
[submodule "submodules/synic.vim"]
	path = submodules/synic.vim
	url = https://github.com/vim-scripts/synic.vim.git
[submodule "submodules/tabula.vim"]
	path = submodules/tabula.vim
	url = https://github.com/vim-scripts/tabula.vim.git
[submodule "submodules/tchaba"]
	path = submodules/tchaba
	url = https://github.com/vim-scripts/tchaba.git
[submodule "submodules/tir_black"]
	path = submodules/tir_black
	url = https://github.com/vim-scripts/tir_black.git
[submodule "submodules/vilight.vim"]
	path = submodules/vilight.vim
	url = https://github.com/vim-scripts/vilight.vim.git
[submodule "submodules/wombat256"]
	path = submodules/wombat256
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "submodules/xoria256.vim"]
	path = submodules/xoria256.vim
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "submodules/badwolf"]
	path = submodules/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "submodules/bubblegum"]
	path = submodules/bubblegum
	url = https://github.com/baskerville/bubblegum.git
[submodule "submodules/Simple256"]
	path = submodules/Simple256
	url = https://github.com/vim-scripts/Simple256.git
[submodule "submodules/fu"]
	path = submodules/fu
	url = https://github.com/noah/fu.git
[submodule "submodules/crt"]
	path = submodules/crt
	url = https://github.com/vim-scripts/crt.vim.git
[submodule "submodules/colorful256"]
	path = submodules/colorful256
	url = https://github.com/vim-scripts/colorful256.vim.git
[submodule "submodules/charged-256"]
	path = submodules/charged-256
	url = https://github.com/vim-scripts/charged-256.vim.git
[submodule "submodules/Gentooish"]
	path = submodules/Gentooish
	url = https://github.com/vim-scripts/Gentooish.git
[submodule "submodules/greenvision"]
	path = submodules/greenvision
	url = https://github.com/vim-scripts/greenvision.git
[submodule "submodules/vim-mac-classic-theme"]
	path = submodules/vim-mac-classic-theme
	url = https://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "submodules/vim-lucius"]
	path = submodules/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "submodules/vim-kolor"]
	path = submodules/vim-kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "submodules/codeschool-vim-theme"]
	path = submodules/codeschool-vim-theme
	url = https://github.com/29decibel/codeschool-vim-theme.git
[submodule "submodules/vim-distinguished"]
	path = submodules/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "submodules/gruvbox"]
	path = submodules/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "submodules/seoul256"]
	path = submodules/seoul256
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "submodules/Apprentice"]
	path = submodules/Apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "submodules/vim-gotham"]
	path = submodules/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule "submodules/Disciple"]
	path = submodules/Disciple
	url = https://github.com/romainl/Disciple.git
[submodule "submodules/vim-atom-dark"]
	path = submodules/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "submodules/flattown"]
	path = submodules/flattown
	url = https://github.com/blerins/flattown.git
[submodule "submodules/cobalt2-vim-theme"]
	path = submodules/cobalt2-vim-theme
	url = https://github.com/GertjanReynaert/cobalt2-vim-theme.git
[submodule "submodules/Spacegray.vim"]
	path = submodules/Spacegray.vim
	url = https://github.com/ajh17/Spacegray.vim.git
[submodule "submodules/heroku-colorscheme"]
	path = submodules/heroku-colorscheme
	url = https://github.com/stulzer/heroku-colorscheme.git
[submodule "submodules/vim-colors_atelier-schemes"]
	path = submodules/vim-colors_atelier-schemes
	url = https://github.com/atelierbram/vim-colors_atelier-schemes.git
[submodule "submodules/mushroom"]
	path = submodules/mushroom
	url = https://github.com/mtglsk/mushroom.git
[submodule "submodules/vim-monochrome"]
	path = submodules/vim-monochrome
	url = https://github.com/fxn/vim-monochrome.git
[submodule "submodules/vim-railscasts"]
	path = submodules/vim-railscasts
	url = https://github.com/justincampbell/vim-railscasts.git
[submodule "submodules/beekai"]
	path = submodules/beekai
	url = https://github.com/stephanedemotte/beekai.git
[submodule "submodules/feral-vim"]
	path = submodules/feral-vim
	url = https://github.com/jedverity/feral-vim.git
[submodule "submodules/vim-phoenix"]
	path = submodules/vim-phoenix
	url = https://github.com/widatama/vim-phoenix.git
[submodule "submodules/oxeded.vim"]
	path = submodules/oxeded.vim
	url = https://github.com/queyenth/oxeded.vim.git
[submodule "submodules/vim-colors-codeschool"]
	path = submodules/vim-colors-codeschool
	url = https://github.com/antlypls/vim-colors-codeschool.git
[submodule "submodules/iceberg.vim"]
	path = submodules/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "submodules/ChasingLogic-colorscheme-vim"]
	path = submodules/ChasingLogic-colorscheme-vim
	url = https://github.com/ChasingLogic/ChasingLogic-colorscheme-vim.git
[submodule "submodules/last256"]
	path = submodules/last256
	url = https://github.com/sk1418/last256.git
[submodule "submodules/vim-babymate256"]
	path = submodules/vim-babymate256
	url = https://github.com/baverman/vim-babymate256.git
[submodule "submodules/vim-hemisu"]
	path = submodules/vim-hemisu
	url = https://github.com/noahfrederick/vim-hemisu.git
[submodule "submodules/vim-getafe"]
	path = submodules/vim-getafe
	url = https://github.com/larssmit/vim-getafe.git
[submodule "submodules/mango.vim"]
	path = submodules/mango.vim
	url = https://github.com/goatslacker/mango.vim.git
[submodule "submodules/vim"]
	path = submodules/vim
	url = https://github.com/lxmzhv/vim.git
[submodule "submodules/vim-herokudoc-theme"]
	path = submodules/vim-herokudoc-theme
	url = https://github.com/uu59/vim-herokudoc-theme.git
[submodule "submodules/Muon"]
	path = submodules/Muon
	url = https://github.com/gregsexton/Muon.git
[submodule "submodules/FlatColor"]
	path = submodules/FlatColor
	url = https://github.com/MaxSt/FlatColor.git
[submodule "submodules/BusyBee"]
	path = submodules/BusyBee
	url = https://github.com/vim-scripts/BusyBee.git
[submodule "submodules/C64.vim"]
	path = submodules/C64.vim
	url = https://github.com/vim-scripts/C64.vim.git
[submodule "submodules/ingretu"]
	path = submodules/ingretu
	url = https://github.com/gmarik/ingretu.git
[submodule "submodules/flattr.vim"]
	path = submodules/flattr.vim
	url = https://github.com/farseer90718/flattr.vim.git
[submodule "submodules/vim-coffee"]
	path = submodules/vim-coffee
	url = https://github.com/duythinht/vim-coffee.git
[submodule "submodules/vim-colors-pencil"]
	path = submodules/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "submodules/vim-colorscheme-darcula"]
	path = submodules/vim-colorscheme-darcula
	url = https://github.com/alem0lars/vim-colorscheme-darcula.git
[submodule "submodules/base16-vim"]
	path = submodules/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "submodules/neverland-vim-theme"]
	path = submodules/neverland-vim-theme
	url = https://github.com/trapd00r/neverland-vim-theme.git
[submodule "submodules/vim-tomorrow-theme"]
	path = submodules/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme
[submodule "submodules/seti.vim"]
	path = submodules/seti.vim
	url = https://github.com/trusktr/seti.vim
