[submodule "submodules/256-grayvim"]
	path = submodules/256-grayvim
	url = git://github.com/vim-scripts/256-grayvim.git
[submodule "submodules"]
	path = submodules
	url = git://github.com/vim-scripts/256-grayvim.git
